<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/top.css">
</head>

<body>
    <h1>DOOKOI CASINO</h1>
    <div class="video">
        <video autoplay loop muted>
            <source src="/static/pic/top_image.mp4">
        </video>
    </div>

    <form action="/" method="post">

    <div class="participants">
        <input class="player1" name="name1">
        <input class="player2" name="name2">
        <input class="player3" name="name3">
        <input class="player4" name="name4">
        <input class="player5" name="name5">
    </div>

    <button type="submit">Let's play →</button>

    </form>
</body>
</html>
